<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@latest/css/ionic.bundle.css">
<body>
  <ion-app>
    <ion-content>
        <!-- Header -->
        <div class="header">
          <ion-icon name="arrow-back-outline" class="back-icon" (click)="goBackHome()"></ion-icon>
            <div>
                <h2>Kiosk Management</h2>
                <p></p>
            </div>
            <ion-icon name="" size="medium"></ion-icon>
        </div>


        <ion-row class="search-row">
            <!-- Search Bar (90%) -->
            <ion-col size="9">
              <ion-searchbar 
               
                (ionInput)="onSearchChange($event)"
                placeholder="Search...">
              </ion-searchbar>
            </ion-col>
          
            <!-- Filter Button (10%) -->
            <ion-col size="3" class="filter-button">
                <ion-button expand="block" class="custom-filter-btn" id="filter-trigger">
                    <ion-icon name="filter-outline" slot="icon-only"></ion-icon>
                  </ion-button>
          
              <ion-popover trigger="filter-trigger" triggerAction="click" [dismissOnSelect]="true">
                <ng-template>
                  <ion-list>
                    <ion-item button (click)="onFilterSelect('Store')">Store</ion-item>
                    <ion-item button (click)="onFilterSelect('Canteen')">Canteen </ion-item>
                  </ion-list>
                </ng-template>
              </ion-popover>
            </ion-col>
          </ion-row>
          
           
          <!-- Table Section -->

         
          <ion-grid>
            <ion-row class="table-header">
              <ion-col><strong>Name</strong></ion-col>
              <ion-col><strong>Category</strong></ion-col>
              <ion-col><strong>Status</strong></ion-col>
              <ion-icon class="" name="" size=""></ion-icon>
             
  
            </ion-row>
        
            <ion-row class="approval-row">
              <ion-col class="name-cell">
                AliBang
              </ion-col>
              <ion-col class="name-cell">
                Canteen
              </ion-col>
              <ion-col class="name-cell">
                Active
              </ion-col>
              <ion-icon class="kebab" name="ellipsis-vertical-outline" size=""></ion-icon>
          
            </ion-row>

            <ion-row class="approval-row">
              <ion-col class="name-cell">
               Aling Kim
              </ion-col>
              <ion-col class="name-cell">
                Store
              </ion-col>
              <ion-col class="name-cell">
                Disabled
              </ion-col>
              <ion-icon class="kebab" name="ellipsis-vertical-outline" size=""></ion-icon>

            
            
        
            </ion-row>



  

          </ion-grid>




               

    


        
    </ion-content>

</ion-app>
  
</body>