
<body>
    
    <!-- Logo Placeholder -->
 <div class="logo-container">
   <img src="../../../assets/logo/vertical.png" alt="Logo Placeholder" class="logo-img">
 </div>

 <div class="login-container">
   <p>Forgot password?</p>
   <input type="email" placeholder="Enter your email" required>
   
   <button class="reset-btn" >Reset password</button>
</div>
<!-- Back to log in -->
<div class="back">
  <ion-icon name="arrow-back-outline"></ion-icon>
  <button class="back-btn">Back to log in</button>
</div>
</body>