  <!-- Transfer From (Opens Bottom Modal) -->
  <ion-card class="card-section-from">
    <div class="card-content-vertical">
      <ion-label class="label-title">Transfer To</ion-label>
      <ion-label class="label-name">Don Martin Francisco</ion-label>
      <ion-label class="label-id">13131313</ion-label>
    </div>
  </ion-card>

   <!-- Transfer Amount (Number Input Only) -->
   <ion-card class="card-section">
    <ion-item lines="none">
      <ion-label position="floating">Transfer Amount</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
  </ion-card>
  

  <!-- Notes -->
  <ion-note color="medium" class="note">
    Remember to check your available balance before sending
  </ion-note>

  <!-- Optional Note -->
  <ion-card class="card-section">
    <ion-item>
      <ion-textarea placeholder="Add note (optional)"></ion-textarea>
    </ion-item>
  </ion-card>


  
