<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@latest/css/ionic.bundle.css">
<body>
  <ion-app>
    <ion-content>
        <!-- Header -->
        <div class="header">
          <ion-icon (click)="goToHome()" name="arrow-back-outline" class="back-icon"></ion-icon>
            <div>
                <h2>Receipt</h2>
                <p></p>
            </div>
            <ion-icon name="notifications" size="large" class="notif-icon"></ion-icon>
        </div>


        <!-- Receipt -->

        <app-receipt></app-receipt>

    </ion-content>


</ion-app>
  
</body>