 <!-- Receipt -->
 <div class="receipt-container">
  <ion-icon name="checkmark-done-circle" class="store-icon"></ion-icon>
  <div class="store-name">ABC Canteen / Kim Dela Cruz</div> <!-- nagpapalit to store/name -->
  <p class="transaction-info">ID: 83473843</p> <!-- id ng kiosk or user -->
  <p class="amount">₱100.00</p>
  <div class="divider"></div>
  

  <div class="transaction-detail">
      <span>Amount Due</span>
      <span>PHP 100.00</span>
  </div>

  <div class="transaction-detail">
      <span>Transaction No.</span>
      <span>948984934</span>
  </div>

  

  <div class="divider"></div>
  <p class="footer">20 April 2025, 2:46 PM</p>

   <!-- Logo Placeholder -->
 <div class="logo-container">
  <img src="../../../assets/logo/horizontal.png" alt="Logo Placeholder" class="logo-img">
</div>

</div>