/* General Reset */
body {
  margin: 0;
  padding: 0;
}

/* Content background */
ion-content {
  --background: #f6f5f6;
  color: black;
  --padding-top: 0px !important;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  height: 8%;
  padding: 10px 15px;
  background: #2B2B2B;
}

.header h2 {
  font-size: 1rem;
  color: #F7BC00;
  margin: 0;
  padding-left: 10px;
}

/* Profile Header */
.profile-header {
  text-align: center;
  padding: 20px;
  background: #F7BC00;
}

.profile-image {
  position: relative;
  display: inline-block;
  background: white;
  border-radius: 50%;
  padding: 5px;
}

ion-avatar {
  width: 80px;
  height: 80px;
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

ion-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.edit-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #808080;
  padding: 5px;
  border-radius: 50%;
  font-size: 14px;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.profile-email {
  font-size: 12px;
  color: black;
  margin-top: 5px;
}

/* Profile Details */
.profile-details {
  margin: 20px auto 0 auto;
  text-align: left;
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-item {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.value {
  color: #666;
  display: block;
}

/* Logout Button */
.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0 auto;
  width: 50%;
}

/* Optional Cleanup - Remove toolbar border if you use it */
ion-toolbar {
  --border-width: 0px !important;
  --border-color: transparent !important;
  box-shadow: none !important;
}
