
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  min-height: 100vh; /* Make it scrollable */
  margin-top: -55px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.logo-img {
  width: 150px;
  height: auto;
}

.login-container {
  background: #2B2318;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

.login-container p {
  margin-bottom: 15px;
  color: #fff;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.continue-btn {
  background: #F7BC00;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.continue-btn:hover {
  background: #e0a800;
}

.register-link {
  margin-top: 15px;
  font-size: 0.9em;
  text-align: center;
  color: black;
}