<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@latest/css/ionic.bundle.css">

<body>
    <ion-app>
        <ion-content>

              <!-- Header -->
              <div class="header">
                <ion-icon name="arrow-back-outline" class="back-icon" (click)="goBackHome()"></ion-icon>
                <div>
                    <h2>CapaPay</h2>
                    <p></p>
                </div>
                <ion-icon name=""></ion-icon>
            </div>

            <div class="description">
                <div>
                <p>Send to any Capapay User or Kiosk</p>
                </div>
            </div>

            <!-- Buttons -->
            <div class="buttons-container" >
              <div class="custom-button"  (click)="goToInstandSend()">
                  <ion-icon name="cash-outline"></ion-icon>
                  <div>
                      Instant Send
                      <p class="button-description">Manually send money quickly</p>
                  </div>
              </div>
              
              <div class="custom-button" (click)="goToQR()" >
                  <ion-icon name="qr-code-outline"></ion-icon>
                  <div>
                      Generate QR
                      <p class="button-description">Instant pay to the CapaPay Kiosk or send money to other users via QR.</p>
                  </div>
              </div>

              <div class="custom-button" (click)="goToScanner()">
                  <ion-icon name="scan-outline"></ion-icon>
                  <div>
                      Scan to Pay
                      <p class="button-description">Scan QR to send or pay</p>
                  </div>
              </div>
          </div>

    

              
            
            
         


        </ion-content>    
    </ion-app>
</body>