<ion-card class="container">
  <ion-card-header>
    <ion-card-title class="ion-text-center">Join Company</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form (ngSubmit)="joinCompany()">
      <ion-item class="search-bar" lines="none">
        <ion-input
          [(ngModel)]="companyCode"
          name="companyCode"
          placeholder="Enter Company Code..."
          required>
        </ion-input>
      </ion-item>

      <div class="join-button">
        <ion-button color="success" type="submit">
          Join Company
        </ion-button>
      </div>
    </form>
  </ion-card-content>
</ion-card>
